/*Cambia las dimensiones del logo de la barra de navegación*/
img.logo{
	width: 100px;
	left: left;
}
/*Para la sección Acerca de, le da un margen a su contenido*/
.descripcion{
	margin-top: 30px;
	margin-bottom: 30px;
}
/*Cambia las dimensiones de la imagen de la seccion Acerca de*/
img.logo1{
	width: 500px;
	margin-left: 120px;
}
/*Edita el margen del vídeo*/
#hack{
	margin-top: 55px;
	margin-left: 20px;
}

img.extra{
	max-width: 1200px;
}
/*Para la seccion nosotros le da como fondo una imagen */
.nosotros{
	background: url("../images/us.png") 50% 0 fixed;
	min-height: 400px;
	margin: 0 auto;
	width: 100%;
	padding: 100px 0;
	background-size: cover;
}
/*Le da color de fondo a la seccion Contacto*/
.contacto{
	background: rgb(221, 158, 0);
}
